# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs & temp
*.log
*.bak
*.tmp
*.swp

# System files
.DS_Store
Thumbs.db

# Configs and env
.env
.env.*

# Local data files
data/*.csv
data/*.json
!data/runtime_config.json
data/backups/
bot_state.json
last_update.txt
dynamic_symbols.json
dry_entries.csv

# Custom logs
push_log.txt
debug_log.txt
telegram_log.txt

# VS Code workspace
*.code-workspace

# Windows
desktop.ini

