# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment configs
.env
.env.*

# IDE configs
.vscode/

# Logs & temporary files
*.log
*.txt
*.db
*.bak
*.tmp

# Data files
data/*.csv
data/*.json
data/backups/
